<div class="form-horizontal">
  {{validated-input model=item type="text" value=item.forename label="Forename" placeholder="Customer Forename" valuePath='forename'}}
  {{validated-input model=item type="text" value=item.surname label="Surname" placeholder="Customer Surname" valuePath='surname'}}
  {{validated-input model=item type="text" value=item.address label="Address" placeholder="Customer Address" valuePath='address'}}

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" {{action 'buttonClicked' item}} disabled={{unless (v-get item 'isValid') true}}>
        {{buttonLabel}}
      </button>
    </div>
  </div>
</div>
