<div class="panel {{if item.paid 'panel-success' 'panel-danger'}} invoice-item">
  {{#if item.id}}
  <div class="panel-heading">
      <h3 class="panel-title"><b>Invoice ID</b> {{#link-to 'invoices.view' item.id}}{{item.id}}{{/link-to}}</h3>
  </div>
  {{/if}}

  <div class="panel-body">
      <p><b>Amount</b>: {{item.amount}}</p>

    <p><b>Created</b>: {{moment-format item.createdAt 'DD-MM-YYYY'}}</p>

    {{#if item.date}}
      <p><b>Due Date</b>: {{moment-format item.date 'DD-MM-YYYY'}}</p>
    {{/if}}

    {{#if item.customer}}
      <p>
        <b>Customer Name</b>:
        {{#link-to 'customers.edit' item.customer.id}}
          {{item.customer.forename}} {{item.customer.surname}}
        {{/link-to}}
      </p>
    {{/if}}

    {{#if item.lines.length}}
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Count</th>
            <th>Item</th>
            <th>PPU</th>
            <th><b>Cost</b></th>
          </tr>
        </thead>
        <tbody>
          {{#each item.lines as |line|}}
            <tr>
              <td>{{line.count}}</td>
              <td>{{line.item.name}}</td>
              <td>{{format-money line.ppu}}</td>
              <td><b>{{format-money line.cost}}</b></td>
            </tr>
           {{/each}}
         </tbody>
      </table>
    {{/if}}
  </div>

  <div class="panel-footer text-right">
    {{yield}}
  </div>
</div>
