<div class="form-horizontal">
  {{validated-datepicker model=model value=model.date label="Date" valuePath='date'}}
  {{validated-input model=model type="number" value=model.amount label="Amount" placeholder="0.00" valuePath='amount'}}
  {{validated-xselect model=model options=customers displayKey="fullname" label="Customer" valuePath='customer'}}

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" {{action 'buttonClicked' model}} disabled={{unless (v-get model 'isValid') true}}>
        {{buttonLabel}}
      </button>
    </div>
  </div>
</div>
