<div class='form-group'>
  <label class="control-label col-sm-2">{{label}}</label>
  <div class="col-sm-10">
    {{#x-select class="form-control" value=(get model valuePath) action=(action (mut (get model valuePath))) as |xs|}}
    <option value="" selected={{if (get model valuePath) false true}} disabled>Select a {{label}}</option>
      {{#each options as |option|}}
        {{#xs.option value=option}}{{get option displayKey}}{{/xs.option}}
      {{/each}}
    {{/x-select}}

    {{#if isValid}}
      <span class='valid-input fa fa-check'></span>
    {{/if}}

    <div class='input-error'>
      {{#if showErrorMessage}}
        <span class='help-block'>
          {{v-get model valuePath 'message'}}
        </span>
      {{/if}}

      {{#if showWarningMessage}}
        <div class='warning'>
          {{v-get model valuePath 'warningMessage'}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
